/*
Potential Color Palette
--black: #080705ff;
--cadet-blue: #5c9eadff;
--celadon: #a1e8afff;
--royal-purple: #735290ff;
--sandy-brown: #f4a261ff;
*/

/* Global styles
----------------------------------------*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #080705ff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile styles
----------------------------------------*/
header {
    background: #5c9eadff;
    color: antiquewhite;
    text-align: center;
}

/* Projects styles
----------------------------------------*/
.projects {
    background: antiquewhite;
}

.projects a {
    background: #735290ff;
}

.projects .btn {
    background:  #343432;
    color: #5c9eadff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    float: right;
    margin-right: 212px;
}

.projects .btn:hover {
    background: rgba(52, 52, 50, 65%);
    color: #f4a261ff;
}

.project-item {
    overflow: hidden;
    border-bottom: 1px solid #343432;
    padding: 25px 0;
}

.project-item img {
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

.project-item .project-image {
    float: left;
    overflow: hidden;
}

.project-description .project-info {
    float: right;
    overflow: hidden;
}

/* Work experience styles
----------------------------------------*/
.work-experience {
    background: #735290ff;
    color: antiquewhite;
}

.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education styles
----------------------------------------*/
.education {
    background: #f4a261ff;
    color:  #343432;
}

/* Contact styles
----------------------------------------*/
.footer {
    background: #343432;
    color: antiquewhite;
    text-align: center;
}

.footer .link {
    color: antiquewhite;
}

.footer .link:hover {
    color: #f4a261ff;
    text-decoration: none;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}