/*
Potential Color Palette
--black: #080705ff;
--cadet-blue: #5c9eadff;
--celadon: #a1e8afff;
--royal-purple: #735290ff;
--sandy-brown: #f4a261ff;
*/

/* Global styles
----------------------------------------*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #080705ff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
    vertical-align: top;
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.item-details h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px solid #080705ff;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile styles
----------------------------------------*/
header {
    background: #5c9eadff;
    color: antiquewhite;
    text-align: center;
}

/* Projects styles
----------------------------------------*/
.projects {
    background: antiquewhite;
}

.projects a {
    background: #735290ff;
}

.projects .btn {
    background:  #343432;
    color: #5c9eadff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    float: right;
}

.projects .btn:hover {
    background: rgba(52, 52, 50, 65%);
    color: #f4a261ff;
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

.project-item p {
    display: flex;
}

/* Work experience styles
----------------------------------------*/
.work-experience {
    background: #735290ff;
    color: antiquewhite;
}

.work-experience .divider > section {
    border-bottom: 1px solid antiquewhite;
    padding: 25px 0;
}

.work-experience .divider > section:last-of-type {
    border-bottom: none;
}

/* Education styles
----------------------------------------*/
.education {
    background: #f4a261ff;
    color:  #343432;
    background-image: url(../images/education.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 25px;
}

.education p {
    width: 60%;
}

/* Contact styles
----------------------------------------*/
.footer {
    background: #343432;
    color: antiquewhite;
    text-align: center;
}

.footer .link {
    color: antiquewhite;
}

.footer .link:hover {
    color: #f4a261ff;
    text-decoration: none;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Media queries
----------------------------------------*/
@media screen and (min-width:750px){
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}