/*
Potential Color Palette
--black: #080705ff;
--cadet-blue: #5c9eadff;
--celadon: #a1e8afff;
--royal-purple: #735290ff;
--sandy-brown: #f4a261ff;
*/

/* Global styles
----------------------------------------*/
body {
    color: #080705ff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile styles
----------------------------------------*/
header {
    background: #5c9eadff;
    color: antiquewhite;
}

/* Projects styles
----------------------------------------*/
.projects {
    background: antiquewhite;
}

.projects a {
    background: #735290ff;
}

.projects .btn {
    background:  #343432;
    color: #5c9eadff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(52, 52, 50, 65%);
    color: #f4a261ff;
}

/* Work experience styles
----------------------------------------*/
.work-experience {
    background: #735290ff;
    color: antiquewhite;
}

/* Education styles
----------------------------------------*/
.education {
    background: #f4a261ff;
    color:  #343432;
}

/* Contact styles
----------------------------------------*/
.footer {
    background: #343432;
    color: antiquewhite;
}

.footer .link {
    color: antiquewhite;
}

.footer .link:hover {
    color: #f4a261ff;
    text-decoration: none;
}